In [2]:
import numpy as np
import pandas as pd 
import sklearn

In [3]:
data = pd.read_csv('titanic.csv', index_col = 'PassengerId')

In [4]:
n_male = data['Sex'].value_counts()['male']
n_female = data['Sex'].value_counts()['female']

f1 = open("titanic_sol1.txt", "w+")
f1.write("%d %d" % (n_male, n_female))
f1.close()

print(n_male, n_female)

577 314

In [5]:
N = data['Survived'].value_counts().sum()
dead = data['Survived'].value_counts()[0]
survived = data['Survived'].value_counts()[1]
survived_percentage = "{:.0f}".format(survived/N*100)

f2 = open("titanic_sol2.txt", "w+")
f2.write(survived_percentage)
f2.close()

print(survived_percentage)

38

In [6]:
n1 = data['Pclass'].value_counts()[1]
n1_percentage = "{:.0f}".format(n1/N*100)

f3 = open("titanic_sol3.txt", "w+")
f3.write(n1_percentage)
f3.close()

print(n1_percentage)

24

In [7]:
mean_age = "{:.2f}".format(data['Age'].mean())
median_age = "{:.2f}".format(data['Age'].median())

f4 = open("titanic_sol4.txt", "w+")
f4.write("%s %s" % (mean_age, median_age))
f4.close()

print(mean_age, median_age)

29.70 28.00

In [8]:
x = data['SibSp']
y = data['Parch']

x_mean = x.mean()
y_mean = y.mean()

rPearson = ( np.sum((x - x_mean)*(y - y_mean)) ) / ( (np.sqrt(np.sum((x - x_mean)*(x - x_mean)))) * (np.sqrt(np.sum((y - y_mean)*(y - y_mean)))) )

f5 = open("titanic_sol5.txt", "w+")
f5.write("{:.2f}".format(rPearson))
f5.close()

print(rPearson)

0.4148376986201561

In [9]:
fem_idx = np.array(data.index[data['Sex']=='female'])

data_fem_first_name = dict()
rare_fem_full_name = dict()

for fi in fem_idx:
    full_name = data["Name"][fi].split()
    flag = 0
    if ('Miss.' in full_name): 
        k = full_name.index('Miss.')
        data_fem_first_name[fi] = full_name[k+1]
        flag = 1
    elif ('Mrs.' in full_name): 
        for w in full_name:
            if (w[0]=='('): 
                if (w[len(w)-1]==')'):
                    data_fem_first_name[fi] = w[1:len(w)-1]
                    flag = 1
                else:
                    data_fem_first_name[fi] = w[1:]
                    flag = 1

        if (flag == 0):
            k = full_name.index('Mrs.')
            data_fem_first_name[fi] = full_name[k+1]
            flag = 1
    elif ('Mlle.' in full_name):
        k = full_name.index('Mlle.')
        data_fem_first_name[fi] = full_name[k+1]
        flag = 1
    elif ('Mme.' in full_name):
        k = full_name.index('Mme.')
        data_fem_first_name[fi] = full_name[k+1]
        flag = 1     
    else: rare_fem_full_name[fi] = data["Name"][fi]


DF_data_fem = pd.DataFrame(data = data_fem_first_name.values(), index = data_fem_first_name.keys(), columns=['name'])

rating = DF_data_fem['name'].value_counts()
print(rating)

k = len(rare_fem_full_name.values())


s=1
fine = False

while (k<rating[0] - rating[s]):
  top2 = rating.index[s]
  for name in rare_fem_full_name.values():
    if (name.find(top2)!=-1): fine = False
    else: fine = True


top1 = rating.index[0]


if (fine == True):
    f6 = open("titanic_sol6.txt", "w+")
    f6.write(top1)
    f6.close()
else: print('not finished')

print(top1)

Anna         15
Mary         14
Elizabeth    11
Margaret     10
Alice         6
             ..
Lulu          1
Eugenie       1
Irene         1
Lilian        1
Aloisia       1
Name: name, Length: 176, dtype: int64
not finished
Anna

In [10]:
k = len(rare_fem_full_name.values())
print(k)
rare_fem_full_name

4

{444: 'Reynaldo, Ms. Encarnacion',
 557: 'Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")',
 760: 'Rothes, the Countess. of (Lucy Noel Martha Dyer-Edwards)',
 797: 'Leader, Dr. Alice (Farnham)'}

In [18]:
# 1. Загрузите выборку из файла titanic.csv с помощью пакета Pandas.
# 2. Оставьте в выборке четыре признака: класс пассажира (Pclass), цену билета (Fare), возраст пассажира (Age) и его пол (Sex).

data2 = pd.read_csv('titanic.csv', index_col = 'PassengerId', usecols=['PassengerId', 'Pclass', 'Fare', 'Age', 'Sex'])

# 3. Обратите внимание, что признак Sex имеет строковые значения.

from sklearn import preprocessing

enc = preprocessing.OrdinalEncoder()

# 4. Выделите целевую переменную — она записана в столбце Survived.

target = pd.read_csv('titanic.csv', index_col= 'PassengerId', usecols=['PassengerId', 'Survived'])

# 5. В данных есть пропущенные значения — например, для некоторых пассажиров неизвестен их возраст. 
# Такие записи при чтении их в pandas принимают значение nan. 
# Найдите все объекты, у которых есть пропущенные признаки, и удалите их из выборки.

nan_idx = np.array(data2.index[np.isnan(data2['Age'])])
tar = target.drop(nan_idx, axis = 0)
dat = enc.fit_transform(data2.drop(nan_idx, axis = 0), tar)

# 6. Обучите решающее дерево с параметром random_state=241 и остальными параметрами по умолчанию.

from sklearn.tree import DecisionTreeClassifier 

clf = DecisionTreeClassifier(random_state=241) 
clf.fit(dat, tar)

# 7. Вычислите важности признаков и найдите два признака с наибольшей важностью. 
# Их названия будут ответами для данной задачи 
# (в качестве ответа укажите названия признаков через запятую без пробелов).

importances = clf.feature_importances_
print(importances)

f7 = open("titanic_sol7.txt", "w+")
f7.write("Age,Sex")
f7.close()

[0.14000522 0.30051221 0.2560461  0.30343647]

In [8]:
book = []
for i in range(4): 
	book.append(input().replace('-', '').replace('+', '').replace('(', '').replace(')', ''))
	if(len(book[i]))<10: book[i] = '7495'+book[i]
	book[i]=book[i][1:]
	if i>0:
		if book[0]==book[i]: print('YES')
		else: print('NO')

YES
YES
NO

In [7]:
'123'+'345'

'123345'

In [21]:
a=int(input())
b=int(input())
c=int(input())
NS = "NO SOLUTION"
MS = "MANY SOLUTIONS"
if (c<0): 
	print(NS)
elif (a==0):
    if(b!=c**2): 
        print(NS)
    else: print(MS)
else:
    ans = (c**2-b)//a
    if ans==(c**2-b)/a: print(ans)
    else: print(NS)

7

In [18]:
6/2 == 6//2

True

In [46]:
d = input().split()
for i in range(len(dat)):
    d[i]=float(d[i])
k1, m, k2, p2, n2 = d[0], d[1], d[2], d[3], d[4]
K1 = m*(p2-1)
K2 = n2-1
if(K1>0): 
    ss = k2/K
    p1 = k1//(round(s-0.01)*m)+1
    n1 = k1%(round(s-0.01)*m)//s+1
    print(int(p1), int(n1))
else: 
    p1 = 0
    n1 = 1

ZeroDivisionError: float division by zero

In [45]:
round(6.50)

6